body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2eeeb;
  color: #65574a;
}

html {
  scroll-behavior: smooth;
}

.main-container {
  max-width: 1440px; /* Set max width */
  margin: 0 auto; /* Center the container */
  background-color: #ffffff; /* White background */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 0; /* Removed padding */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #f2eeeb;
  position: sticky; /* Added */
  top: 0; /* Added */
  z-index: 1000; /* Optional: ensures the navbar stays above other content */
  width: calc(100% - 40px); /* Ensure full width minus the padding */
  margin: 0 auto; /* Center the navbar */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #3b3b3b;
}

.subtitle {
  font-size: 16px;
  font-weight: normal;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: #3b3b3b;
  font-size: 18px;
  font-weight: normal;
  transition: color 0.3s;
}

.menu a:hover {
  color: #9b9b9b;
}

.container {
  display: flex;
  justify-content: space-between; /* Align columns side by side */
  padding: 0; /* Removed padding */
  width: 100%; /* Ensure full width */
  height: 100vh;
}

.white-column,
.brown-column {
  padding: 50px;

  flex: 1; /* Ensure columns take up equal space */
}

.white-column {
  background-color: #ffffff;
}

.brown-column {
  background-color: #bfa58e;
  color: #ffffff;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

img {
  max-width: 100%;
}

.calendar-image {
  height: 100%;
  max-height: 350px;
  width: auto;
}

.logo-image {
  height: 100%;
  max-height: 440px;
  width: auto;
}

button {
  margin: 50px;
  background-color: #ffffff;
  color: #65574a;
  padding: 20px 30px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  justify-content: center;
  margin-left: 0;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #65574a;
  color: #ffffff;
}

.text-child {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-child {
  width: 100%;
  height: 300px;
}

.large-image {
  height: 500px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.text-left {
  text-align: left;
}

.contact {
  text-decoration: none;
  color: #65574a;
}
